.app-header {
  display: flex;
  align-items: center;
}
.app-header__nav {
  width: 100%;
}

.app-header__logo {
  padding-left: 60px;
}

.app-header__locale-switcher {
  margin-left: auto;
  opacity: 0.2;
  cursor: not-allowed!important;
}
.app-footer {
  display: flex;
  min-height: 500px;
  background-color: #448AFF;
}

.app-footer__text {
  color: #fff;
  margin: auto auto 85px auto
}