

.bonuses {
  padding-top: 67px;
  padding-bottom: 50px;
  border-bottom: 1px solid #F4F2FF;
}

.bonuses__title {
  font-family: Comfortaa;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: left;
  padding-bottom: 15px;
}

.bonus {
  display: flex;
  align-items: center;
  margin-top: 21px;
}
.bonus__icon {
  margin-right: 26px;
}
.bonus__text {
  max-width: 1000px;
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
}