
.how-does-it-work {
  padding-top: 43px;
}
.how-does-it-work__title {
  font-family: Comfortaa;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: left;
}
.how-does-it-work__steps {

}

.steps {
  margin-top: 36px;
  text-align: center;
}
.steps__wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.steps--purple {
  background-color: #F4F2FF;
  padding-top: 71px;
  padding-bottom: 330px;

}
.steps__title {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: center;  
}

.steps__title--blue {
  background: #448AFF;
  color: #fff;
  padding: 14px 24px;
  display: inline;
  border-radius: 22.5px;
}
.steps__title--purple {
  background: #7C4DFF;
  color: #fff;
  padding: 14px 24px;
  display: inline;
  border-radius: 22.5px;
}

.step {
  margin-top: 36px;
  display: flex;
  justify-content: center;
}

.step__image {
  order: 1;
}
.step__content {
  order: 1;
  margin-left: 27px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.step__content--reverse {
  order: 0;
  text-align: right;
  align-items: flex-end;
  margin-right: 27px;
}
.step__title {
  padding: 5px 15px;
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -1px;
  text-align: left;
  color: #fff;
  background-color: #448AFF; 
  border-radius: 22px;
}
.step__title--purple {
  background-color: #7C4DFF;
}
.step__text {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  /* text-align: left; */
  max-width: 250px;
}
.step__arrow {
  margin-top: auto;
}
.step__arrow-sm {
  display: none;
}

