
.intro {
  padding-top: 60px;
  padding-bottom: 130px;
  border-bottom: 1px solid #F4F2FF;
  overflow: hidden;
}

.intro-wrapper::before {
  position: absolute;
  content: '';
  right: -190px;
  top: 90px;
  z-index: 40;
  width: 290px;
  height: 295px;
  background-image: url('/src/assets/start.svg');
}
.intro-wrapper::after {
  position: absolute;
  content: '';
  left: -299px;
  top: 160px;
  z-index: 40;
  width: 222px;
  height: 220px;
  background-image: url('/src/assets/heart.svg');
}

.intro__floating-image {
  position: absolute;
  left: 0;
  z-index: 5;
  top: -50px;
}
.intro__relative {
  position: relative;
}

.intro__title {
  padding-left: 400px;
  font-family: Comfortaa;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1px;
  text-align: left;
  padding-top: 67px;
}

.intro__title .mark {
  font-weight: 700;
  color: rgba(124, 77, 255, 1);
}
.intro__links {
  margin-top: 20px;
  padding-left: 400px;
  display: flex;
  align-items: center;
}

.base-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: #448AFF;
}
.base-link svg {
  margin-right: 8px;
}
.intro__top {
  position: relative;
}
.intro__top .wrapper::after {
  position: absolute;
  content: '';
  bottom: -35px;
  left: 0;
  z-index: 1;
  width: 1181px;
  height: 35px;
  background-image: url('/src/assets/bottom-border.svg');
}

.intro__bottom {
  padding: 84px 28px 0 0;
  padding-left: 400px;
  display: flex;
}


.intro__bottom-left {
  margin-right: 28px;
}
.intro__title-small {
  font-family: Comfortaa;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: left;
}
.intro__text {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: left;
}
