@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@import '~normalize.css';
.wrapper {
  max-width: 1184px;
  margin: 0 auto;
}
* {
  color: #263238;
  box-sizing: border-box;
  font-family: Comfortaa;
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

img {
  webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.bg-secondary {
  background: #F4F2FF;
}


@import './app-layout.css';
@import './app-menu.css';
@import './intro.css';