@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@import '~normalize.css';
.wrapper {
  max-width: 1184px;
  margin: 0 auto;
}
* {
  color: #263238;
  box-sizing: border-box;
  font-family: Comfortaa;
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

img {
  webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.bg-secondary {
  background: #F4F2FF;
}

.mark {
  color: rgba(124, 77, 255, 1);
}
.mark-blue {
  color: #448AFF;
}
.bold {
  font-weight: 700;
}
.relative {
  position: relative;
}
.d-none {
  display: none;
}


@import './app-layout.css';
@import './app-menu.css';
@import './intro.css';
@import './advantages.css';
@import './why-we.css';
@import './bonuses.css';
@import './form.css';
@import './how-does-it-work.css';
@import './lang-switcher.css';

@import './intro-sm.css';
@import './advantages-sm.css';
@import './why-we-sm.css';
@import './bonuses-sm.css';
@import './how-does-it-work-sm.css';
@import './form-sm.css';